#   ~/.gitignore
#   hopefully this isn't too aggressive matching-wise :)

# no pickles or log outputs. no large files
**/*.pickle
**/*.log
**/*.npz
**/*.npy

# no PDFs
**/*.pdf
# no matlab stuff (i don't own it)
**/*.m
# no pycache stuff obvs
**/__pycache__/
#
# don't import anything in a data dir
**/data/*
# no straggling jpgs that should be outputted elsewhere really
**/*.jpg

# no latex remnants
**/*.aux
**/*.log
**/*.dvi

# these shouldn't be here when i commit anyway but eh. vim remnants
**/*.swp
